<div class="container-fluid" ng-controller="AppsGalleryController">
    <!--<div class="slim-page-header">Choose an App</div>-->
    <div class="row">
        <div class="col-md-12 content-column">
            <div class="app-gallery-container" resize ng-style="resizeWithOffset(150)">
                <br style="clear: both;" />
                <div  class="row-fluid">
                    <ul class="list-unstyled">
                        <li class="col-md-3 col-sm-4 col-xs-12"  ng-repeat="app in all_user_apps">
                            <div class="thumb-holder" ng-style="{cursor: authenticated ? 'pointer' : 'default'}" ng-click="select(app)" >
                                <div class="thumbnail">
                                    <img ng-src="{{app.manifestInfo.logo_uri}}">
                                </div>
                                <div class="caption">
                                    <input type="image" src="https://content.logicahealth.org/images/hspc/icon/circle_info-128.png" ng-click="info(app)" class="image-btn"/>
                                    <button ng-disabled="!authenticated" ng-click="launch(app)" class="btn btn-basic btn-block">{{app.name}}</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>