<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <h4 style="text-align: center" ng-show="showAccept && isUpdate">The Terms of Use Agreement and/or Privacy Statement have been updated</h4>
    <div class="box" style="height: 400px; overflow-y: auto">
        <div style="white-space: pre-wrap" ng-bind-html="text"></div>
    </div>
    <div class="right-form-group" style="padding-top: 10px" ng-show="showAccept">
        <input type="checkbox" style="width:10px" ng-model="termsAccepted"/>
        <label style="text-align: left">I accept the Terms of Use Agreement and Privacy Statement </label>
    </div>
    <!--<div class="right-form-group"  ng-show="showAccept">-->
    <!--<input type="checkbox" style="width:10px" ng-model="privacyAccepted"/>-->
    <!--<label style="text-align: left">I accept the privacy statement </label>-->
    <!--</div>-->
</div>
<div class="modal-footer">
    <button class="form-btn btn btn-basic" ng-click="openPDF()"> View PDF</button>
    <button class="form-btn btn btn-basic" ng-show="showAccept" ng-disabled="!termsAccepted" type="button" ng-click="confirm(true)">{{ok}}</button>
    <button class="form-btn btn btn-cancel" type="button" ng-click="confirm(false)">{{cancel}}</button>
</div>
